#bioColumn {
  height: 100vh;
  background-color: #7C5852;
  position: sticky;
  top: 0;
}

#worksColumn {
  padding: 24px;
  background-color: #7C5852;

}
#worksColumnMobile {
  padding: 24px;

}

#mainColumnMobile {
  background-color: #7C5852;
}

#rowMainDesktop, #rowMainMobile {
  margin-bottom: 0px;

}

#profileImage {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: calc(25%);
  margin-left: calc(50% - 75px);
}

#profileImageMobile {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: calc(10%);
  margin-left: calc(50% - 75px);
}

#description {
  font-size: 15px;

}

body {
  font-family: Nunito;
  background-color: #7C5852;
}
#linkSection {
  margin-top: 3px;
    margin-bottom: 8px;
    display: block;
}

#linkContent {
  padding-top: 10px;
text-align: center;


}
#contacts {
  margin: 0 20px 0 20px;
  display: inline-block;
  font-size: 16px;
  color: #212121;

}

@media (min-height: 50px; max-height: 505px) and (min-width: 601px; max-width: 875px) {
.card {
    position: initial;
}}
